<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#if domain}}
    <meta name="description" content="Web Replay Protocol - version {{{version}}} - {{{domain.domain}}} domain" />
  {{else}}
    <meta name="description" content="Web Replay Protocol - version {{{version}}}" />
  {{/if}}
  <link rel="icon" type="image/png" href="{{{ url '/images/logo.png'}}}" />
  {{#if domain}}
    <title>{{{title}}} - {{{domain.domain}}} domain</title>
  {{else}}
    <title>{{{title}}}</title>
  {{/if}}

  <meta name="theme-color" content="#303F9F" />
  <meta property="og:title" content="Web Replay Protocol" />
  {{#if domain}}
    <meta property="og:description" content="Web Replay Protocol - version {{{version}}} - {{{domain.domain}}} domain" />
  {{else}}
    <meta property="og:description" content="Web Replay Protocol - version {{{version}}}" />
  {{/if}}

  <script type="module" src="{{{ url '/scripts/index.js' }}}"></script>
  <link href="{{{ url '/styles/protocol.css' }}}" rel="stylesheet">
</head>
<body>
  <aside>
    <div id="home" class="navs">
      <nav>
        <a href="{{{ url '/' }}}">Home</a>
        <button class="aside-close-button" aria-label="Close navigation">x</button>
      </nav>
    </div>

    <div id="domains" class="navs version-{{{version}}}">
      <header>Domains</header>
      <div class="scroller">
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Analysis" class="tot">Analysis</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Console" class="tot">Console</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Debugger" class="tot">Debugger</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/DOM" class="tot">DOM</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Graphics" class="tot">Graphics</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Pause" class="tot">Pause</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Recording" class="tot">Recording</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Session" class="tot">Session</a>
        </nav>
        <nav>
          <a href="{{{ url '/' }}}{{{ version }}}/Internal" class="tot">Internal</a>
        </nav>
      </div>
    </div>
  </aside>

  <main>
    <header>
      <h1>Web Replay Protocol</h1>
      <button class="menu-link">Navigation</button>
      <cr-search-control base-url="{{{ url '/' }}}" protocol-search-index="search_index/{{{version}}}.json"></cr-search-control>
    </header>
    <section>
      <div class="main-content-section {{{shadow}}}">
        {{{content}}}
      </div>
    </section>
  </main>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158124230-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158124230-1');
</script>

</body>
</html>
